/* --------------------------------------------------------------------------------------- Text/Padding/Margin */

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 100%;
    background: linear-gradient(180deg, rgba(126, 220, 255, 1) 0%, rgba(3, 207, 185, 0.04) 59%, rgba(199, 221, 66, 1) 100%);
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    font-family: 'Philosopher', serif;
}

.text-header {
    font-size: 3rem;
}

.text-ins {
    font-size: 0.8rem;
}

.text-ins-score {
    font-size: 5rem;
    margin-top: -1.5rem;
}

.text-bold {
    font-weight: 700;
}

.text-extra-bold {
    font-weight: 800;
}

/* --------------------------------------------------------------------------------------- Text Colors */

.text-blue {
    color: #293ACF;
}

/* --------------------------------------------------------------------------------------- Buttons */

.btn--cta {
    font-size: 1.2rem;
    font-weight: 700;
}

.btn--mainmenu {
    font-size: 1rem;
    font-weight: 700;
}

.btn--yellow {
    color: #293ACF;
    background-color: #ffff00;
    box-shadow: 1px 2px 6px #575757;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--yellow:active:focus {
    background-color: #e6e600;
    color: #293ACF;
}

.btn--blue {
    color: #ffff00;
    background-color: #293ACF;
    box-shadow: 1px 2px 6px #575757;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #212ea6;
    color: #e6e600;
}

/* --------------------------------------------------------------------------------------- Instructions */

#score {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

/* --------------------------------------------------------------------------------------- Options */

.options-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------------------------------------------------------------------------- Gameplay */

.gameplay-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.apple-container {
    position: relative;
    z-index: 1;
}

.caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
}

.image-apple {
    max-width: 40%;
}

.image-gameplay {
    width: 100%;
}

/* --------------------------------------------------------------------------------------- Footer */

.footer-container {
    position: absolute;
    bottom: 2%;
}

.text-footer {
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------- Animations */

/* 
Floating animation was found at
https://www.geeksforgeeks.org/css-floating-animation/
*/

.animation-float {
    animation-name: animation-float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animation-float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

/* --------------------------------------------------------------------------------------- Media Queries */

/* Small Mobile Devices */
@media (min-width: 280px) and (max-width: 320px) {
    .text-ins {
        font-size: 0.8rem;
    }

    .text-ins-score {
        font-size: 3rem;
    }

    .btn--cta {
        font-size: 1rem;
        font-weight: 700;
    }

    #score {
        font-size: 1.5rem;
    }

    .options-container {
        top: 40%;
    }

    .caption {
        top: 30%;
    }

}

/* Mobile Devices - Landscape */
@media screen and (min-width: 576px) and (max-width: 991px) and (orientation: landscape) {
    br {
        display: none;
    }
    
    .text-header {
        font-size: 2.5rem;
    }
    
    .text-ins {
        font-size: 0.8rem;
    }

    .text-ins-score {
        font-size: 4rem;
        margin-top: -2rem;
    }

    .btn--cta {
        --bs-btn-padding-y: 0.10rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 0.3rem;
    }

    .options-container {
        top: 30%;
    }
    
    .apple-barrel-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -10%);
        text-align: center;
    }

    .image-gameplay {
        width: 75%;
    }

    .apple-container {
        width: 75%;
        margin: 0 auto;
    }

}

/* Tablet / Desktop Devices - Portrait and Landscape */
@media screen and (min-width: 768px) and (orientation: portrait) {
    .text-header {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    
    .text-ins {
        font-size: 1rem;
    }

    .text-ins-score {
        font-size: 6rem;
    }

}

/* Tablet / Desktop Devices - Portrait and Landscape */
@media screen and (min-width: 992px) {
    .apple-barrel-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -30%);
        text-align: center;
    }

    .text-header {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .text-ins {
        font-size: 1.2rem;
    }

    .text-ins-score {
        font-size: 8rem;
    }

}

