/* --------------------------------------------------------------------------------------- Text/Padding/Margin */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 100%;
    background: linear-gradient(180deg, rgba(126, 220, 255, 1) 0%, rgba(3, 207, 185, 0.04) 59%, rgba(199, 221, 66, 1) 100%);
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    font-family: 'Philosopher', serif;
}

.text-header {
    font-size: 3rem;
}

.text-ins {
    font-size: 0.8rem;
}

.text-bold {
    font-weight: 700;
}

/* --------------------------------------------------------------------------------------- Text Colors */

.text-blue {
    color: #293ACF;
}

/* --------------------------------------------------------------------------------------- Buttons */

.btn--mainmenu {
    font-size: 1rem;
    font-weight: 700;
}

.btn--blue {
    color: #ffff00;
    background-color: #293ACF;
    box-shadow: 1px 2px 6px #575757;
}

/* --------------------------------------------------------------------------------------- Instructions */

#score {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}